<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My CRUD in NodeJS</title>
  </head>
  <body>
    <h2>Editar Registro</h2>
    <form action="/edit_product/<%= product._id %>" method="POST">
      <input type="text" value="<%= product.name %>" name="name" />
      <input type="text" value="<%= product.brand %>" name="brand" />
      <input type="text" value="<%= product.price %>" name="price" />
      <br />
      <button><a href="/show">Todos</a></button>
      <button type="submit">Editar</button>
    </form>
  </body>
</html>
