<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS (JoaoP)</title>
</head>
<body>
    <h2>Registrar Produtos<h2>
    <form action="/products" method="POST">
        <input type="text" placeholder="Nome" name="name">
        <input type="text" placeholder="Marca" name="brand">
        <input type="text" placeholder="Preço" name="price">
        <button type="submit">Submit</button>
      </form> 
</body>
</html>